@using MongoPractice.Contracts.Read.V1.Views

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@ShListSummary.Name</h5>
        <p class="card-text">
            <strong>Items:</strong> @ShListSummary.NumberOfItems
        </p>
    </div>
</div>