@page "/shopping-lists"
@using MongoPractice.Contracts.Read.V1.Views

<h3>My Shopping Lists</h3>

@if (ShListViews.Length == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @* Explicit type used here instead of 'var' *@
        @foreach (ShListSummaryViewV1 shListSummaryView in ShListViews)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@shListSummaryView.Name</h5>
                        <h5 class="card-title">@shListSummaryView.NumberOfItems</h5>
                    </div>
                </div>
            </div>
        }
    </div>
}