@page "/shopping-lists"
@using MongoPractice.Contracts.Read.V1.Views

<h3>My Shopping Lists</h3>

@if (ShListViews.Length == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @* Explicit type used here instead of 'var' *@
        @foreach (ShListSummaryViewV1 shListSummaryView in ShListViews)
        {
            <div class="col-md-4 mb-3">
                <a href="/shopping-list/@shListSummaryView.Id" style="text-decoration: none; color: inherit;">
                    <ShListSummaryComponent ShListSummary="@shListSummaryView" />
                </a>
            </div>
        }
    </div>
}