@page "/shopping-list/{Id:guid}"

@if (ShList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>@ShList.Name</h3>

    <div class="list-group">
        @foreach (var item in ShList.Items)
        {
            <ShItemComponent ShItem="@item" />
        }
    </div>
}